# RPC URLs
ETH_RPC_URL=https://eth.merkle.io
ARB_RPC_URL=https://arb1.arbitrum.io/rpc
OP_RPC_URL=https://mainnet.optimism.io
POLY_RPC_URL=https://polygon-rpc.com
BSC_RPC_URL=https://bsc-dataseed.binance.org
AVAX_RPC_URL=https://api.avax.network/ext/bc/C/rpc

# Velora Market API (ex-ParaSwap)
VELORA_API_KEY=

# Server
PORT=3001

# Flashbots
FLASHBOOTS_RELAY=https://relay.flashbots.net
FLASHBOOTS_AUTH_KEY=

# Pimlico (ERC-4337)
PIMLICO_API_KEY=

# ZeroDev (ERC-4337)
ZERODEV_PROJECT_ID=

# Wallet (for sending transactions)
PRIVATE_KEY=
